
<div class="grid justify-content-center">
    <div class="col-10 sm:col-6 md:col-4">
        <p-card>
            <div class="grid">
                <div class="col-12 text-center">
                    <fa-icon [icon]="faCar"></fa-icon>
                    <h2>Car Sales</h2>
                </div>
                <div class="col-12">
                    <label for="">Usuário: </label>
                    <input class="col-12" type="text" pInputText />
                </div>                
                <div class="col-12">
                    <label for="">Senha: </label>
                    <input class="col-12" type="text" pInputText />
                </div>                
                <div class="col-12">
                    <button pButton type="button" label="Entrar" class="col-12"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>
